.container_12 {
	background : pink ;
}
/* LOGO */
#logo {
	background : #F03 ;
}

img {
	border : 10px solid black ;
	padding : 10px ;
	margin : 20px ;
	border-radius : 100px ;
}

/* CO. NAME*/

#coname {
	background : #F39 ;
}

/* NAV */

#nav {
	background : #000 ;
}

/* ASIDE */
#aside {
	background : #9C3 ;
}

#main {
	background : #FCF ;
}

/* Main Navigation */

li {
  background: #ffd500;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

a {
  color: green;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

li:hover {
  background: blue;
} 